#header{
    width: calc(100% - 80px);
    height: 80px;
    position: fixed;
    top: 0;
    left: 80px;
    background: #020001;
    min-width: 1000px;
    z-index: 99;
}

#header .logo{
    width: 67px;
    position: absolute;
    top: 20px;
    left: 30px;
}

#header .menu{
    text-align: center;
    line-height: 80px;
}

#header .menu ul{
    display: flex;
    justify-content: center;
}

#header .menu ul li{
    margin-right: 6.4em;
}

#header .menu ul li:last-child{
    margin-right: 0;
}

#header .menu ul li a{
    font-size: 1.6em;
    color: #fff;
    font-weight: 500;
}


#header .top_menu{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translate(0,-50%);
}

#header .top_menu .login{
    float: left;
    margin-right: 40px;
    line-height: 40px;
}

#header .top_menu .login ul li{
    float: left;
    margin-right: 23px;
    position: relative;
}

#header .top_menu .login ul li:last-child{
    margin-right: 0;
}

#header .top_menu .login ul li::after{
    content: "";
    display: block;
    width: 1px;
    height: 10px;
    background: rgba(255,255,255,0.3);
    position: absolute;
    top: 50%;
    right: -12px;
    transform: translate(0,-50%);
}

#header .top_menu .login ul li:last-child::after{
    display: none;
}

#header .top_menu .login ul li a{
    font-size: 13px;
    font-weight: 500;
    color: #C4C4C4;
}

